.kadokushi-chart-container,
.age-chart-container,
.monthly-hours-chart-container,
.weekly-hours-chart-container,
.never-chart-container,
.population-pyramid-container,
.positive-chart-container,
.suicide-chart-container {
  width: 70%;
  margin: auto;
}

.custom-carousel {
  width: 50vw;
  margin: auto;
}